<% if @name != nil %>
	<h3>The price for <%= @name %> isn't available.</h3>
<% else %>
	<h3>You didn't type anything!</h3>
<% end %>
<a href="/"><button type="button" class="alizarin-flat-button">Check another stock &raquo;</button></a>
