<h3>What would you like to see?</h3>
<div>
	<form action='/your-stock-price' method='post'>
		<input type="text" name="symbol" placeholder="Enter a stock symbol...">
		<input type="submit" class="alizarin-flat-button" value="Go!"></input>
	</form>
</div>
