<!doctype html>
<html>
<head>
	<!--CSS reset-->
	<link rel="stylesheet" type="text/css" href="css/eric-meyer-reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Pacifico' rel='stylesheet' type='text/css'>
	<title>PrettyStocks | The prettiest stocks on the internet</title>
</head>
<body>
	<div class="container">
		<a href="/"><h1>PrettyStocks</h1></a>
		<%= yield %>
	</div>
</body>
</html>
