<h3>The current price for <%= @name %> is...</h3>
<p class="buy-result">Buy: <%= @buy %></p>
<p class="sell-result">Sell: <%= @sell %></p>
<a href="/"><button type="button" class="alizarin-flat-button">Check another stock &raquo;</button></a>
